body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}
.header {
  background-color: none;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px 0 0 0;
  
}


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

.header p {
  
  background-color: none;
   
  padding-left: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  display: inline;
  
  font-size: medium;
  
  color: white;
 
}
.facebook img {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  top: 2.5%;
  left: 95%;
}
.instagram img {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  top: 2.5%;
  left: 90%;
}

#navbar {
  overflow: hidden;
  background: rgb(0, 0, 0, 0);
  

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, rgb(226, 122, 38) 0%, rgb(226, 45, 91) 100%); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 41, 163); 
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  margin: 15px 0 15px 25px;
  border: solid black 0.2px;
  border-radius: 5px;
  
}

#navbar a:hover {
  background-color: rgb(165, 153, 143);
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 20px 1px rgba(0,0,0,0.5);
  
  border-radius: 5px;
  transition: 0.5s ease;
}


#Home {
  padding: 16px;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #Home {
  padding-top: 84px;
}
@media screen and (max-width: 441px) {
  /* For tablets: */
  .facebook img {
    left: 90%;
    top: 2.5%;
  }
  .instagram img {
    left: 75%;
    top: 2%;
  }
}
